@use "@/styles/constants" as *;

.profile-rows {
    width: 100%;
    max-width: $profile-max-width;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    margin-bottom: 60px;
    text-align: center;

    &__name {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }
}

.profile-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    background: #EFEFEF;
    border-radius: 50%;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    transition: filter 100ms;
    cursor: pointer;

    &:hover {
        filter: brightness(0.6);
    }
}

.profile-form {
    width: 100%;
    margin-bottom: 40px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 0;
        border-bottom: 1px solid $border-color;

        &--last {
            border-bottom: none;
        }
    }

    &__label {
        font-size: 13px;
        font-weight: 500;
    }

    &__input {
        text-align: right;
        border: none;
        background: none;
        color: #999;
        font-size: 13px;
        width: 60%;

        &:disabled {
            cursor: default;
        }
    }
}
