@use "@/styles/constants" as *;
@use "@/shared/components/dropdown/dropdown.scss" as *;
@use "@/chat/components/sidebar/sidebar.scss" as *;
@use "@/chat/components/chat-window/chat-window.scss" as *;

.chat {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    background-color: $color-white;

    &__stub {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    &__stub-text {
        margin: 0;
        color: $color-text-light;
        font-size: 14px;
    }
}
