@use "@/styles/constants" as *;
@use "@/shared/components/dropdown/dropdown.scss" as *;
@use "../components/sidebar/sidebar.scss" as *;
@use "../components/chat-window/chat-window.scss" as *;

.chat {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    background-color: $color-white;
}
