$color-primary: #3369F3;
$color-secondary: #E4EDFD;
$color-danger: #F00;
$color-white: #fff;
$color-border: #EAEAEA;
$color-sidebar-bg: #FBFBFB;
$color-input-bg: #EFEFEF;
$color-text-light: #999;
$color-text-darkest: #1E1E1E;
$profile-max-width: 510px;
