@use "@/styles/constants" as *;

.profile-sidebar {
    width: 64px;
    background: $color-sidebar-bg;
    border-right: 1px solid $color-border;

    &__back-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: none;
        text-decoration: none;
        background: none;
        cursor: pointer;
        transition: background 0.2s;

        &:hover {
            background: #F2F2F2;
        }
    }

    &__icon-wrapper {
        width: 28px;
        height: 28px;
        background: $color-primary;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }
}
