@use "@/styles/constants" as *;

.profile-links {
    width: 100%;
    max-width: $profile-max-width;

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    &__item {
        padding: 6px 0;
        border-bottom: 1px solid $color-border;

        &:last-child {
            border-bottom: none;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 13px;
        color: $color-primary;

        &--danger {
            color: $color-danger;
        }
    }
}
